.topbar
  +animation(anim-topbar-bg-return 0.6s ease-out)
  position: absolute
  z-index: 999
  width: 100%
  height: 50px
  background: #fff
  .topbar__inner
    +clearfix
  .topbar__title
    +font(16px)
    text-align: center
    a
      +inline-block
      text-decoration: none
      color: #000
      padding: 14px 0
  .top__overlay
    display: none
  &.is-open
    +animation(anim-topbar-bg 0.6s ease-out)
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(#000, 0.8)
    .topbar__title
      a
        color: #fff
    .top__overlay
      display: block
      margin-top: 30px
      p
        +font(12px)
        font-style: italic
        text-align: left
        color: rgba(#fff, 0.3)
        width: 260px
        margin: 0 auto
    .topbar__sites
      width: 260px
      margin: 0 auto
      li
        display: inline
        padding-right: 5px
        a
          +font(12px)
          +transition(color 0.2s ease-out)
          text-align: left
          text-decoration: none
          color: rgba(#fff, 0.3)
          &:hover
            color: rgba(#fff, 0.6)
    .topbar__lists
      text-align: center
      margin-top: 20px
      li
        display: inline
        margin-bottom: 10px
        a
          +font(14px)
          color: #fff
          text-decoration: none
          text-transform: uppercase

.topbar__trigger-icon
  position: relative
  width: 50px
  height: 50px
  position: absolute
  top: 0
  left: 0
  cursor: pointer
  > span
    +inline-block
    position: absolute
    width: 14px
    height: 2px
    background: #000
    &:nth-child(1)
      +animation(anim-topbar-trigger0-return 0.4s ease-out)
      +transform(translateX(-50%) translateY(-50%))
      top: 40%
      left: 50%
    &:nth-child(2)
      +animation(anim-topbar-trigger1-return 0.4s ease-out)
      +transform(translateX(-50%) translateY(-50%))
      top: 50%
      left: 50%
    &:nth-child(3)
      +animation(anim-topbar-trigger2-return 0.4s ease-out)
      +transform(translateX(-50%) translateY(-50%))
      top: 60%
      left: 50%
  &.is-open
    > span
      background: #fff
      &:nth-child(1)
        +animation(anim-topbar-trigger0 0.4s ease-out)
        +transform(translateX(-50%) translateY(-50%) rotate(45deg))
        top: 50%
        left: 50%
      &:nth-child(2)
        +animation(anim-topbar-trigger1 0.4s ease-out)
        +transform(translateX(-50%) translateY(-50%) scaleX(0))
        top: 50%
        left: 50%
      &:nth-child(3)
        +animation(anim-topbar-trigger2 0.4s ease-out)
        +transform(translateX(-50%) translateY(-50%) rotate(-45deg))
        top: 50%
        left: 50%

