%META{CONTENT: 'NOYDIR', NAME: 'ROBOTS'}
%META{CONTENT: 'NOODP', NAME: 'ROBOTS'}

%title= Settings.site.title

%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
%meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}
%meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}
%meta{:name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1"}

= set_display_meta_tags
